<div class="slider">
  <ul class="tabs clearfix">
    <li class="first selected"><a href="javascript:void(0)" data-rel="slide1">1980-1990</a></li>
    <li class="short"><a href="javascript:void(0)" data-rel="slide2">1990-2000</a></li>
    <li><a href="javascript:void(0)" data-rel="slide3">2000-2010</a></li>
  </ul>

  <div class="slides clearfix">
    <ul class="slides-inner clearfix">
      <li class="slide" id="slide1">
        <p class="description"><%= raw @item.decades_analysis['_1980']['description']%> </p>

        <ul>
          <li class="col first">
            <h3>Policy Barriers</h3>
            <ul>
              <% @item.decades_analysis['_1980']['policy_barriers'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>

          <li class="col">
            <h3>Underlying changes</h3>
            <ul>
              <% @item.decades_analysis['_1980']['underlying_changes'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>

        </ul>
      </li>

      <li class="slide" id="slide2">
        <p class="description"><%= raw @item.decades_analysis['_1990']['description']%> </p>
        <ul>
          <li class="col first">
            <h3>Policy Barriers</h3>
            <ul>
              <% @item.decades_analysis['_1990']['policy_barriers'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
          <li class="col">
            <h3>Underlying changes</h3>
            <ul>
              <% @item.decades_analysis['_1990']['underlying_changes'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>

      <li class="slide" id="slide3">
       <p class="description"><%= raw @item.decades_analysis['_2000']['description']%> </p>
        <ul>
          <li class="col first">
            <h3>Policy Barriers</h3>
            <ul>
              <% @item.decades_analysis['_2000']['policy_barriers'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
          <li class="col">
            <h3>Underlying changes</h3>
            <ul>
              <% @item.decades_analysis['_2000']['underlying_changes'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
