<div class="slider">
  <ul class="tabs clearfix">
    <% if @item.decades_analysis['_1980'].present? %>
      <li class="first selected"><a href="javascript:void(0)" data-rel="slide1">1980-199000</a></li>
    <% end %>
    <% if @item.decades_analysis['_1990'].present? %>
      <li class="short <% if !@item.decades_analysis['_1980'].present? %> selected <% end %>"><a href="javascript:void(0)" data-rel="slide2">1990-2000</a></li>
    <% end %>
    <% if @item.decades_analysis['_2000'].present? %>
      <li><a href="javascript:void(0)" data-rel="slide3">2000-2010</a></li>
    <% end %>
  </ul>

  <div class="slides clearfix">
    <ul class="slides-inner clearfix">

      <% if @item.decades_analysis['_1980'].present? %>
      
      <li class="slide" id="slide1">

        <p class="description"><%= raw @item.decades_analysis['_1980']['description']%> </p>

        <ul>
          <% if @item.decades_analysis['_1980']['policy_barriers'].present? %>
            <li class="col first">
              <h3>Policy Barriers</h3>
              <ul>
                <% @item.decades_analysis['_1980']['policy_barriers'].each do |d|%>
                <li><%=raw d%></li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if @item.decades_analysis['_1980']['underlying_changes'].present? %>
              <li class="col">
                <h3>Underlying changes</h3>
                <ul>
                  <% @item.decades_analysis['_1980']['underlying_changes'].each do |d|%>
                  <li><%=raw d%></li>
                  <% end %>
                </ul>
              </li>
          <% end %>          
        </ul>
      </li>

      <% end %>

      <li class="slide" id="slide2">
        <p class="description"><%= raw @item.decades_analysis['_1990']['description']%> </p>
        <ul>
          <% if @item.decades_analysis['_1990']['policy_barriers'].present? %>          
          <li class="col first">
            <h3>Policy Barriers</h3>
            <ul>
              <% @item.decades_analysis['_1990']['policy_barriers'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
          <% end %>          
          <% if @item.decades_analysis['_1990']['underlying_changes'].present? %>          
          <li class="col">
            <h3>Underlying changes</h3>
            <ul>
              <% @item.decades_analysis['_1990']['underlying_changes'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </li>

      <li class="slide" id="slide3">
       <p class="description"><%= raw @item.decades_analysis['_2000']['description']%> </p>
        <ul>
          <% if @item.decades_analysis['_2000']['policy_barriers'].present? %>                    
          <li class="col first">
            <h3>Policy Barriers</h3>
            <ul>
              <% @item.decades_analysis['_2000']['policy_barriers'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
          <% end %>          
          <% if @item.decades_analysis['_2000']['underlying_changes'].present? %>                    
          <li class="col">
            <h3>Underlying changes</h3>
            <ul>
              <% @item.decades_analysis['_2000']['underlying_changes'].each do |d|%>
              <li><%=raw d%></li>
              <% end %>
            </ul>
          </li>
          <% end %>          
        </ul>
      </li>
    </ul>
  </div>
</div>
