<div class="subject">
  <div class="scroll-nav">

    <% if previous_item = @item.previous %>
      <%= link_to raw("<i><span>←</span></i>"), send("#{@main.type}_#{previous_item.type}_path".to_sym, :"#{@main.type}_id" => @main.id, id: previous_item.id), class: 'scroll-controls scroll-prev', remote: true %>
    <% end %>

    <% if next_item = @item.next %>
      <%= link_to raw("<i><span>→</span></i>"), send("#{@main.type}_#{next_item.type}_path".to_sym, :"#{@main.type}_id" => @main.id, id: next_item.id), class: 'scroll-controls scroll-next', remote: true %>
    <% end %>

  </div>

  <h1 class="title"><sup><%= @item.type %></sup><%= @item.name %></h1>

  <p class="description"><%= @item.description %></p>
</div>
