<% graph_configs = graphs_for_subitem(subitem) %>

<div class="clearfix graph graph-<%= "#{graph_configs.first.type == 'BarGraph' ? 'bars' : 'line'} #{'first' if @subitems.first == subitem} #{'last' if @subitems.last == subitem} #{'middle' if (@subitems.last != subitem && @subitems.first != subitem)}" %>">
  <%= render 'shared/years_last_prev' %>
  <%= render 'shared/years_first' %>
  <%= render 'shared/years' %>

  <div class="graph-selector graph-selector-<%= graph_configs.first.type == 'BarGraph' ? 'bars' : 'line' %>">
    <h3 class="graph-title">
      <span class="type"><%= subitem.name %></span>

      <% if graph_configs.size == 1 %>
        <%= graph_configs.first.name %>
      <% else %>
        <%= link_to graph_configs.first.name, '#', class: 'graph-link' %>
      <% end %>
    </h3>

    <% if graph_configs.size > 1 %>
      <ul class="graph_dropdown">
        <% graph_configs.each do |graph_config| %>
          <li>
            <h3 class="graph-title">
              <%= link_to graph_config.name, '#', :'data-rel' => graph_config.id %>
            </h3>
          </li>
        <% end %>
      </ul>
    <% end %>

    <hr class="graph-sep"/>

    <% graph_configs.each_with_index do |graph_config, index| %>
      <p class="graph-description <%= graph_config.id %> <%= graph_config.description_long %> <%= 'hidden' if index > 0 %>"><%= graph_config.description %></p>
    <% end %>
  </div>

  <div class="graph-gradient"></div>

  <% graph_configs.each_with_index do |graph_config, index| %>
    <div class="clearfix graph-canvas graph-canvas-<%= graph_config.type == 'BarGraph' ? 'bars' : 'line' %> <%= 'hidden' if index > 0 %>" id="<%= graph_config.id %>">
      <ul class="graph-legend"></ul>
    </div>
  <% end %>

  <%= render 'shared/years_last' %>
</div>
