<% graph_configs = item.graph_configs(@main.id, @item.id) %>
<div class="graph graph-<%= graph_configs.first.type %>">
  <div class="graph-selector">
    <h3 class="graph-title">
      <span><%= item.name %></span>

      <% if graph_configs.size == 1 %>
        <%= graph_configs.first.name %>
      <% else %>
        <%= link_to graph_configs.first.name, '#', class: 'graph-link' %>
      <% end %>
    </h3>

    <% if graph_configs.size > 1 %>
      <ul class="graph_dropdown">
        <% graph_configs.each do |graph_config| %>
          <li>
            <h3 class="graph-title">
              <%= link_to graph_config.name, '#', :'data-rel' => graph_config.id %>
            </h3>
          </li>
        <% end %>
      </ul>
    <% end %>

    <hr class="graph-sep"/>

    <% graph_configs.each_with_index do |graph_config, index| %>
      <p class="graph-description <%= graph_config.id %> <%= graph_config.description_long %> <%= 'hidden' if index > 0 %>"><%= graph_config.description %></p>
    <% end %>
  </div>

  <% graph_configs.each_with_index do |graph_config, index| %>
    <div class="graph-canvas <%= 'hidden' if index > 0 %>" id="<%= graph_config.id %>">
      <ul class="graph-legend"></ul>
    </div>
  <% end %>

  <div class="graph-gradient"></div>
</div>
