<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Policy Climate Interactive</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag "regions" %>
    <%= javascript_include_tag "regions" %>
    <%= csrf_meta_tags %>

    <!--[if IE]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/opp1nwp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39826379-2', 'thepolicyclimate.org');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="wrapper <%= params[:region_id] %>">
      <%= render 'shared/header' %>

      <div class="content" id="content">
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>

    <div class="generic-tooltip"></div>
  </body>
</html>
