<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Policy Climate Interactive</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    params[:sector_id], media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "sources/#{ params[:sector_id] }/#{ params[:id] }", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!--[if IE]>
    <%= stylesheet_link_tag    "ie", media: "all", "data-turbolinks-track" => true %>
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/opp1nwp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body>

    <%= render 'shared/graphs_list' %>

  </body>
</html>

